{% extends "SoporteInformatica/layouts/base.html" %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form method="POST" class="card card-body">
                {% if error %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ error }}
                    </div>
                {% endif %}
                <h1>Crear nueva solicitud</h1>
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary">
                    Mandar Solicitud
                </button>
            </form>
        </div>
    </div>
</main>

{% endblock %}