{% extends 'SoporteInformatica/layouts/base.html' %}
{% block content %}


<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">
            {% if request.user.is_authenticated %}
            Bienvenido, {{request.user}}.
            {% else %}
            Bienvenido
            {% endif %}
        </h1>

        <div class="text-center">
            {% if request.user.is_authenticated %}
            <a class="btn btn-secondary" href="{% url 'cerrar_sesion' %}">
                Cerrar Sesion
            </a>
            {% else %}
            <a class="btn btn-secondary" href="/iniciar_sesion/">
                Iniciar Sesion
            </a>
            {% endif %}
        </div>


    </section>
</main>



{% endblock %}