{% extends "SoporteInformatica/layouts/base.html" %}
{% block content %}


<style>
.detalle-ticket {
    max-width: 600px;   /* Ajusta este valor según lo que necesites */
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    padding: 10px;
    background-color: #f8f9fa; /* Color suave */
    border: 1px solid #dee2e6;
    border-radius: 8px;
}
</style>


<main class="container-fluid">
    <div class="row">
        <div class="col 12">
            <h1 class="text-center display-3 py-5">{{peticion}}</h1>
            <ul class="list-group">
                {% for ticket in tickets %}
                   <a class="list-group-item {% if ticket.tarea_completada %}list-group-item-success{% endif %}" href="{% url 'detalle_solicitud' ticket.id %}">
                        <header class="d-flex justify-content-between">
                            <h2 class="fw-bold">
                                {{ticket.relacion_problema}}
                            </h2>
                            <p class="detalle-ticket">
                                {{ticket.detalle}}
                            </p>
                        </header>
                        {% if ticket.tarea_completada == Null %}
                        <p class="text-break">
                             Fecha de creacion: {{ticket.fecha_creacion}}
                        </p>    
                        {% else %}
                        <p>
                           Fecha de realizacion: {{ticket.tarea_completada|date:"d  F  Y, H:i"}}
                        </p>
                        {% endif %}
                    </a>    
                {% endfor%}
            </ul>
        </div>
    </div>
</main>

{% endblock %}    

