{% extends 'SoporteInformatica/layouts/base.html' %}
{% block content %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const rows = document.querySelectorAll(".clickable-row");
        rows.forEach(row => {
            row.addEventListener("click", () => {
                const href = row.getAttribute("data-href");
                if (href) {
                    window.location.href = href;
                }
            });
        });

        // Evitar propagación del click desde botones
    const buttons = document.querySelectorAll(".btn");
    buttons.forEach(btn => {
        btn.addEventListener("click", function(event) {
            event.stopPropagation();
            });
        });
    });
</script>


<style>
    .clickable-row {
    cursor: pointer;
}
</style>


<main class="container-fluid">
    <div class="row">
        <div class="col-12">

        <form method="get" class="form-inline mb-3">
            <div class="form-group mr-2">
                {{ form.usuario.label_tag }}
                {{ form.usuario }}
            </div>
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </form>

            <h1 class="text-center display-3 py-5">{{peticion}}</h1>

            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tipo de Problema</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Oficina</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Fecha de Creacion</th>
                        <!-- Tareas completadas -->
                        {% if peticion  == "Peticiones Completadas" %}
                        <th scope="col">Fecha de Realización</th>
                        <th scope="col">Eliminar Solicitud</th>

                        <!-- Tareas Incompletas -->
                        {% else %}
                        <th scope="col">Completar Solicitud</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in tickets %}
                     <tr class="clickable-row" data-href="{% url 'detalle_solicitud_admin' ticket.id %}">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ ticket.relacion_problema }}</td>
                        <td>{{ ticket.usuario }} </td>
                        <td>{{ticket.oficina}}</td>
                        
                        {% if ticket.tarea_completada %}
                        <td class="text-success fw-bold">Completado</td>
                        <td>{{ ticket.fecha_creacion }}</td>
                        <td>{{ ticket.tarea_completada|date:"d F Y, H:i" }}</td>
                        <td>
                           <!--Boton eliminar desde la lista de completados  -->
                            <div id="boton_eliminar" style="display: block;">
                            <form action="{% url 'solicitud_eliminada_admin' ticket.id %}" 
                            onsubmit="return confirm('¿Estás seguro de que deseas eliminar esta solicitud?')" 
                            method="POST">
                                {% csrf_token %}
                                <button class="btn btn-danger">
                                    Eliminar
                                </button>
                            </form>
                            </div>
                        </td>
                        {% else %}
                        <td class="text-warning fw-bold">Pendiente</td>
                        <td>{{ ticket.fecha_creacion }}</td>
                        <td>
                            <!-- Boton completar desde la lista de pendientes -->
                            <div id="boton_eliminar" style="display: block;">
                            <form action="{% url 'solicitud_completada_admin' ticket.id %}" 
                            onsubmit="return confirm('¿Estás seguro de que deseas completar esta solicitud?')" 
                            method="POST">
                                {% csrf_token %}
                                <button class="btn btn-primary">
                                    Completar
                                </button>
                            </form>
                            </div>
                        </td>    
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>


{% endblock %}